body {
    background: #515151;
    border: 3px solid black;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    color: darkblue;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red {
    color: red;
}
