* {
    margin: 20px;
}
body {
    background: #fff;
}

.App {
    color: black;
    display: grid;
    grid-template-columns: 50% 50%;
}

.resultBoard {
    border: 2px solid black;
    width: 450px;
    height: 350px;
}

.settingBoard {
    border: 2px solid black;
    width: 450px;
    height: 350px;
}

.red {
    color: red;
}
